<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/lpc/nct6798d/control/0/plot" value="false" />
    <add key="/lpc/nct6798d/control/1/plot" value="false" />
    <add key="/lpc/nct6798d/control/2/plot" value="false" />
    <add key="/lpc/nct6798d/control/3/plot" value="false" />
    <add key="/lpc/nct6798d/control/4/plot" value="false" />
    <add key="/lpc/nct6798d/control/5/plot" value="false" />
    <add key="/lpc/nct6798d/control/6/plot" value="false" />
    <add key="/amdcpu/0/load/1/plot" value="false" />
    <add key="/amdcpu/0/load/2/plot" value="false" />
    <add key="/amdcpu/0/load/3/plot" value="false" />
    <add key="/amdcpu/0/load/4/plot" value="false" />
    <add key="/amdcpu/0/load/5/plot" value="false" />
    <add key="/amdcpu/0/load/6/plot" value="false" />
    <add key="/amdcpu/0/load/7/plot" value="false" />
    <add key="/amdcpu/0/load/8/plot" value="false" />
    <add key="/amdcpu/0/load/0/plot" value="false" />
    <add key="/amdcpu/0/power/0/plot" value="false" />
    <add key="/amdcpu/0/clock/0/plot" value="false" />
    <add key="/amdcpu/0/power/2/plot" value="false" />
    <add key="/amdcpu/0/power/3/plot" value="false" />
    <add key="/amdcpu/0/power/4/plot" value="false" />
    <add key="/amdcpu/0/power/5/plot" value="false" />
    <add key="/amdcpu/0/power/6/plot" value="false" />
    <add key="/amdcpu/0/power/7/plot" value="false" />
    <add key="/amdcpu/0/power/8/plot" value="false" />
    <add key="/amdcpu/0/power/9/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/control/0/plot" value="false" />
    <add key="/nvidiagpu/0/fan/0/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/nvidiagpu/0/power/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/1/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/data/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="/hdd/2/temperature/0/plot" value="false" />
    <add key="/hdd/2/load/0/plot" value="false" />
    <add key="/hdd/3/temperature/0/plot" value="false" />
    <add key="/hdd/3/load/0/plot" value="false" />
    <add key="/hdd/4/temperature/0/plot" value="false" />
    <add key="/hdd/4/load/0/plot" value="false" />
    <add key="/hdd/5/load/0/plot" value="false" />
    <add key="/hdd/12/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="2505" />
    <add key="mainForm.Location.Y" value="189" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="/lpc/nct6798d/voltage/0/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/1/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/2/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/3/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/4/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/5/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/6/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/7/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/8/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/9/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/10/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/11/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/12/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/13/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/14/plot" value="false" />
    <add key="/lpc/nct6798d/temperature/1/plot" value="false" />
    <add key="/lpc/nct6798d/temperature/2/plot" value="false" />
    <add key="/lpc/nct6798d/temperature/3/plot" value="false" />
    <add key="/lpc/nct6798d/temperature/4/plot" value="false" />
    <add key="/lpc/nct6798d/temperature/5/plot" value="false" />
    <add key="/lpc/nct6798d/temperature/6/plot" value="false" />
    <add key="/lpc/nct6798d/fan/0/plot" value="false" />
    <add key="/lpc/nct6798d/fan/1/plot" value="false" />
    <add key="/lpc/nct6798d/fan/2/plot" value="false" />
    <add key="/lpc/nct6798d/fan/3/plot" value="false" />
    <add key="/lpc/nct6798d/fan/4/plot" value="false" />
    <add key="/amdcpu/0/temperature/0/plot" value="false" />
    <add key="/amdcpu/0/temperature/4/plot" value="false" />
    <add key="/amdcpu/0/clock/1/plot" value="false" />
    <add key="/amdcpu/0/clock/2/plot" value="false" />
    <add key="/amdcpu/0/clock/3/plot" value="false" />
    <add key="/amdcpu/0/clock/4/plot" value="false" />
    <add key="/amdcpu/0/clock/5/plot" value="false" />
    <add key="/amdcpu/0/clock/6/plot" value="false" />
    <add key="/amdcpu/0/clock/7/plot" value="false" />
    <add key="/amdcpu/0/clock/8/plot" value="false" />
    <add key="/amdcpu/0/power/1/plot" value="false" />
    <add key="/hdd/2/temperature/0/values" value="H4sIAAAAAAAEAJvw18r0ffQdDwaGA/8B64SP3gwAAAA=" />
    <add key="/hdd/0/data/0/values" value="" />
    <add key="/hdd/2/load/0/values" value="H4sIAAAAAAAEAJvw18r0ffQdDwaGA/8B64SP3gwAAAA=" />
    <add key="/hdd/2/data/0/values" value="" />
    <add key="/hdd/1/load/0/values" value="H4sIAAAAAAAEAFt+8IDJ++g7HgwMB/4DAKiKW4wMAAAA" />
    <add key="/hdd/3/load/0/values" value="H4sIAAAAAAAEACs+FGv6PvqOBwPDgf8AIPUtaQwAAAA=" />
    <add key="/hdd/3/temperature/0/values" value="" />
    <add key="/hdd/1/data/0/values" value="H4sIAAAAAAAEAFt+8IDJ++g7HgwMB/4DAKiKW4wMAAAA" />
    <add key="/hdd/4/load/0/values" value="H4sIAAAAAAAEAIu9km36PvqOBwPDgf8AMQGDuwwAAAA=" />
    <add key="/hdd/4/temperature/0/values" value="" />
    <add key="/hdd/6/load/0/plot" value="false" />
    <add key="/hdd/1/data/0/plot" value="false" />
    <add key="/hdd/12/load/0/values" value="" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEACt1nmbyPvqOBwPDgf+Xr8gwMQAB44FbrgB+1Tm4GAAAAA==" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEACt1nmbyPvqOBwPDgf+Xr8gwMUABANG8S+wYAAAA" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEACt1nmbyPvqOBwPDgf/lv2SYGMBggQMAHmqKmxgAAAA=" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEALsaNs3kffQdDwaGA//Fn8swMYDBA3sAaWpLzxgAAAA=" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEALsaNs3kffQdDwaGA//Fn8swMYCBggMAitELxBgAAAA=" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEALsaNs3kffQdDwaGA//Fn8swMYBBgz0AzgG2qhgAAAA=" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEADPPmmbyPvqOBwPDgf82L2SYGIDgUP0BRwDrxTrbGAAAAA==" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEADPPmmbyPvqOBwPDgf82L2SYGICgZBmrGwC6bJJJGAAAAA==" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEAJtZO83kffQdDwaGA/9vXZFhYgACgzRNVwBLCz9PGAAAAA==" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEAJtZO83kffQdDwaGA/9vXZFhYgADAzcA2rxH8RgAAAA=" />
    <add key="/nvidiagpu/0/control/0/values" value="H4sIAAAAAAAEAJtZO83kffQdDwaGA/9vXZFhYgCDD44AN/7ZpBgAAAA=" />
    <add key="/nvidiagpu/0/power/0/values" value="H4sIAAAAAAAEAPvLOMPkffQdDwaGA/9ru6SZGICgbXWDEwCQqoy3GAAAAA==" />
    <add key="/nvidiagpu/0/throughput/0/values" value="H4sIAAAAAAAEADPXnGHyPvqOBwPDgf8uh+WYGMDA2xYAtcOE4hgAAAA=" />
    <add key="/hdd/6/load/0/values" value="H4sIAAAAAAAEADOJ8fs9y+K2h10YvxO3yLpYfgYGBhAbAMF86oUYAAAA" />
    <add key="/hdd/2/data/0/plot" value="false" />
    <add key="/hdd/0/load/0/values" value="H4sIAAAAAAAEAAso3WzyPvqOBwPDgf8Aqb5iTgwAAAA=" />
    <add key="/hdd/1/temperature/0/values" value="H4sIAAAAAAAEAEvYcsDkffQdDwaGA/8BhkUSJwwAAAA=" />
    <add key="/lpc/nct6798d/fan/6/plot" value="false" />
    <add key="/nvidiagpu/0/fan/0/values" value="H4sIAAAAAAAEABM1mGbyPvqOBwPDgf9xSrJMDCCwoc0FAIz+E+0YAAAA" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEACt1nmbyPvqOBwPDgf+Xr8gwMYCAwhQXAKYwmrAYAAAA" />
    <add key="/amdcpu/0/load/0/values" value="H4sIAAAAAAAEADt0RH+xQeotD7bGqQ4APDRWjQwAAAA=" />
    <add key="/amdcpu/0/load/1/values" value="H4sIAAAAAAAEADt0RH+xQeotj/yDd+0B1aj4QwwAAAA=" />
    <add key="/amdcpu/0/load/2/values" value="H4sIAAAAAAAEADt0RH+xQeotD6lpkx0AaM6q2AwAAAA=" />
    <add key="/amdcpu/0/load/3/values" value="H4sIAAAAAAAEADt0RH+xQeotj4kNKx0A6f7w3wwAAAA=" />
    <add key="/amdcpu/0/load/4/values" value="H4sIAAAAAAAEADt0RH+xQeotj9W7Uh0AKB7VDgwAAAA=" />
    <add key="/amdcpu/0/load/5/values" value="H4sIAAAAAAAEADt0RH+xQeotD+Gkd/YA+DFETQwAAAA=" />
    <add key="/amdcpu/0/load/6/values" value="H4sIAAAAAAAEADt0RH+xQeotD78tKg4AbPyIDAwAAAA=" />
    <add key="/amdcpu/0/load/7/values" value="H4sIAAAAAAAEADt0RH+xQeotj7OvFRwAMEno8AwAAAA=" />
    <add key="/amdcpu/0/load/8/values" value="H4sIAAAAAAAEADt0RH+xQeotj4myxY4AScjrJgwAAAA=" />
    <add key="/amdcpu/0/temperature/0/values" value="H4sIAAAAAAAEADt0RH+xQeotD4YD6U4ABG7hEQwAAAA=" />
    <add key="/amdcpu/0/temperature/2/values" value="" />
    <add key="/amdcpu/0/temperature/3/values" value="" />
    <add key="/amdcpu/0/temperature/4/values" value="H4sIAAAAAAAEADt0RH+xQeotD4YGDycAqdtncwwAAAA=" />
    <add key="/amdcpu/0/temperature/5/values" value="" />
    <add key="/amdcpu/0/temperature/6/values" value="" />
    <add key="/amdcpu/0/temperature/7/values" value="" />
    <add key="/amdcpu/0/temperature/8/values" value="" />
    <add key="/amdcpu/0/temperature/9/values" value="" />
    <add key="/amdcpu/0/temperature/10/values" value="" />
    <add key="/amdcpu/0/temperature/11/values" value="" />
    <add key="/amdcpu/0/power/0/values" value="H4sIAAAAAAAEAHvzSn+xQeotD5cAIycAuByiGgwAAAA=" />
    <add key="/amdcpu/0/power/1/values" value="H4sIAAAAAAAEAHvzSn+xQeotj/cP2x0B3B3vRAwAAAA=" />
    <add key="/amdcpu/0/clock/0/values" value="" />
    <add key="/amdcpu/0/power/2/values" value="H4sIAAAAAAAEAHvzSn+xQeotj4lHrtsDABdPj/wMAAAA" />
    <add key="/amdcpu/0/clock/1/values" value="H4sIAAAAAAAEAHvzSn+xQeotj45Tra4A/N1d4wwAAAA=" />
    <add key="/amdcpu/0/power/3/values" value="H4sIAAAAAAAEAHvzSn+xQeotjzoLfgcAd7cWRwwAAAA=" />
    <add key="/amdcpu/0/clock/2/values" value="H4sIAAAAAAAEAHvzSn+xQeotj44/ra4A3kS7wwwAAAA=" />
    <add key="/amdcpu/0/power/4/values" value="H4sIAAAAAAAEAHvzSn+xQeotj3WLftsDANx7rCEMAAAA" />
    <add key="/amdcpu/0/clock/3/values" value="H4sIAAAAAAAEAHvzSn+xQeotj44/ra4A3kS7wwwAAAA=" />
    <add key="/amdcpu/0/power/5/values" value="H4sIAAAAAAAEAHvzSn+xQeotD2Pv9/YA334b5gwAAAA=" />
    <add key="/amdcpu/0/clock/4/values" value="H4sIAAAAAAAEAHvzSn+xQeotj44/ra4A3kS7wwwAAAA=" />
    <add key="/amdcpu/0/power/6/values" value="H4sIAAAAAAAEAHvzSn+xQeotj01BF+0BAyzM4QwAAAA=" />
    <add key="/amdcpu/0/clock/5/values" value="H4sIAAAAAAAEAHvzSn+xQeotj44/ra4A3kS7wwwAAAA=" />
    <add key="/amdcpu/0/power/7/values" value="H4sIAAAAAAAEAHvzSn+xQeotD5m1X+wBP6YTGgwAAAA=" />
    <add key="/amdcpu/0/clock/6/values" value="H4sIAAAAAAAEAHvzSn+xQeotj44/ra4A3kS7wwwAAAA=" />
    <add key="/amdcpu/0/power/8/values" value="H4sIAAAAAAAEAHvzSn+xQeotj08v7tkDADcTiTUMAAAA" />
    <add key="/amdcpu/0/clock/7/values" value="H4sIAAAAAAAEAHvzSn+xQeotj44/ra4A3kS7wwwAAAA=" />
    <add key="/amdcpu/0/power/9/values" value="H4sIAAAAAAAEAHvzSn+xQeotj2TOGgcAp53exAwAAAA=" />
    <add key="/amdcpu/0/clock/8/values" value="H4sIAAAAAAAEAHvzSn+xQeotj44/ra4A3kS7wwwAAAA=" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEAOMSqzB5H33Hg4HhwH9OXSsmBigAAGljYPcYAAAA" />
    <add key="/nvidiagpu/0/throughput/1/values" value="H4sIAAAAAAAEANsQOMPkffQdDwaGA/9vRSozMYABvx0Ai/uGthgAAAA=" />
    <add key="/hdd/0/temperature/0/values" value="H4sIAAAAAAAEAMuy2WzyPvqOBwPDgf8Apkd5HQwAAAA=" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEALv0ttvkffQdDwaGA/8BC51u2gwAAAA=" />
    <add key="/hdd/5/load/0/values" value="H4sIAAAAAAAEAGOt7TJ9H33Hg4HhwH8AQc/k0wwAAAA=" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/clock/8/plot" value="false" />
    <add key="/intelcpu/0/clock/7/plot" value="false" />
    <add key="/intelcpu/0/clock/6/plot" value="false" />
    <add key="/intelcpu/0/clock/5/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/8/plot" value="false" />
    <add key="/intelcpu/0/temperature/7/plot" value="false" />
    <add key="/intelcpu/0/temperature/6/plot" value="false" />
    <add key="/intelcpu/0/temperature/5/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/load/8/plot" value="false" />
    <add key="/intelcpu/0/load/7/plot" value="false" />
    <add key="/intelcpu/0/load/6/plot" value="false" />
    <add key="/intelcpu/0/load/5/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEAOMSqzB5H33Hg4HhwH9OXSsmBiB4I1jtCACVhT27GAAAAA==" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEALvyrtzkffQdDwaGA//tQ6yYGIAgMrHfEQCobB9sGAAAAA==" />
    <add key="/intelcpu/0/clock/8/values" value="H4sIAAAAAAAEANuypdzkffQdDwaGA//j+6yYGICgriDeFQAl5HQ+GAAAAA==" />
    <add key="/intelcpu/0/clock/7/values" value="H4sIAAAAAAAEAAtaWG7yPvqOBwPDgf9bvS2YGIBgDoOHKwAoVAraGAAAAA==" />
    <add key="/intelcpu/0/clock/6/values" value="H4sIAAAAAAAEAPvSW27yPvqOBwPDgf8qzGZMDECwxqDIFQBnJomvGAAAAA==" />
    <add key="/intelcpu/0/clock/5/values" value="H4sIAAAAAAAEAJtcVW7yPvqOBwPDgf+ch4yZGIAgXqPdFQBukFbSGAAAAA==" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEADNKLzd5H33Hg4HhwP8LrYZMDEAQZ9DnCgC8jSA7GAAAAA==" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEALsSXG7yPvqOBwPDgf+6LvpMDEAQ/6LBFQB8hqI7GAAAAA==" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEACtxKDd5H33Hg4HhwP9rr3SYGIDggEC+KwDzbmsFGAAAAA==" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEAFPXLTd5H33Hg4HhwP8Ha7SYGIDgwIUMVwASb2KOGAAAAA==" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEANssWW7yPvqOBwPDgf8JmtZMDEDQwHDCCQDxCJ5eGAAAAA==" />
    <add key="/intelcpu/0/temperature/8/values" value="H4sIAAAAAAAEAEtkKzd5H33Hg4HhwP9LGzWYGMBA1wkAy7URHRgAAAA=" />
    <add key="/intelcpu/0/temperature/7/values" value="H4sIAAAAAAAEANP/XGbyPvqOBwPDgf8sRzWYGMBA2QkAYDPKuxgAAAA=" />
    <add key="/intelcpu/0/temperature/6/values" value="H4sIAAAAAAAEAFt2v8zkffQdDwaGA/97b2gwMYCBkhMAQpxMJhgAAAA=" />
    <add key="/intelcpu/0/temperature/5/values" value="H4sIAAAAAAAEADM/U2byPvqOBwPDgf9/XmswMYCBiBMAsL1XZRgAAAA=" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEADu/o8zkffQdDwaGA/9T/mswMYCBvBMAgaeLzBgAAAA=" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEAKtYWmbyPvqOBwPDgf+7hTSZGMBAzgkAtHQjnxgAAAA=" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEAPsxoczkffQdDwaGA/+t1TWZGMBA0QkAz+IGKxgAAAA=" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEAHudWmbyPvqOBwPDgf8eQZpMDGCg4wQA4Q2a8xgAAAA=" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEAHudWmbyPvqOBwPDgf937DSZGMBAzgkADOT9KxgAAAA=" />
    <add key="/intelcpu/0/load/8/values" value="H4sIAAAAAAAEAFuoWWTyPvqOBwPDgf9q1bpMDECwKPWfPQAHs2OGGAAAAA==" />
    <add key="/intelcpu/0/load/7/values" value="H4sIAAAAAAAEAHMVKzJ5H33Hg4HhwP+mPl0mBiDg6W2yBwA8EOoFGAAAAA==" />
    <add key="/intelcpu/0/load/6/values" value="H4sIAAAAAAAEAEtnLDJ5H33Hg4HhwP+ExbpMDEDQ8OaIHQCNE9SDGAAAAA==" />
    <add key="/intelcpu/0/load/5/values" value="H4sIAAAAAAAEAJO9VWjyPvqOBwPDgf+rTukyMYCBhx0A/TIWJBgAAAA=" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEAJO9VWjyPvqOBwPDgf+rTukyMQCBgvVUOwDgLIyYGAAAAA==" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEANt9rNDkffQdDwaGA/957ukyMQCBuJSiPQANAHCwGAAAAA==" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAIvZXGjyPvqOBwPDgf/ZH3WZGIBAwVrUHgDS/14vGAAAAA==" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAPs7v9DkffQdDwaGA/9PsegxMQDBghl/HACYhoWWGAAAAA==" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEANsiM83kffQdDwaGA//j1WSYGMBA0gkAtecDwxgAAAA=" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAEsN6DF5H33Hg4HhwH8AnQXbrAwAAAA=" />
    <add key="/lpc/nct6798d/control/5/values" value="H4sIAAAAAAAEAFNrdDV5H33Hg4HhwH8AjXJdoQwAAAA=" />
    <add key="/lpc/nct6798d/control/4/values" value="H4sIAAAAAAAEADua62ryPvqOBwPDgf8A9ZJ5swwAAAA=" />
    <add key="/lpc/nct6798d/control/3/values" value="H4sIAAAAAAAEADua62ryPvqOBwPDgf8A9ZJ5swwAAAA=" />
    <add key="/lpc/nct6798d/control/2/values" value="H4sIAAAAAAAEAMuKcjV5H33Hg4HhwH8AA+dKuAwAAAA=" />
    <add key="/lpc/nct6798d/control/1/values" value="H4sIAAAAAAAEAOv+72LyPvqOBwPDgf8AsNWSBAwAAAA=" />
    <add key="/lpc/nct6798d/control/0/values" value="H4sIAAAAAAAEAOs55mLyPvqOBwPDgf8ApkktIwwAAAA=" />
    <add key="/lpc/nct6798d/fan/6/values" value="H4sIAAAAAAAEAPtR4WLyPvqOBwPDgf8AqKacCQwAAAA=" />
    <add key="/lpc/nct6798d/fan/5/values" value="H4sIAAAAAAAEAPtR4WLyPvqOBwPDgf8AqKacCQwAAAA=" />
    <add key="/lpc/nct6798d/fan/4/values" value="H4sIAAAAAAAEAPtR4WLyPvqOBwPDgf8AqKacCQwAAAA=" />
    <add key="/lpc/nct6798d/fan/3/values" value="H4sIAAAAAAAEAJuT6mLyPvqOBwPDgf8AE3iqRwwAAAA=" />
    <add key="/lpc/nct6798d/fan/2/values" value="H4sIAAAAAAAEADtu62LyPvqOBwPDgf8AcLo+yAwAAAA=" />
    <add key="/lpc/nct6798d/fan/1/values" value="H4sIAAAAAAAEAJMQdjF5H33Hg4HhwH8APLT8MgwAAAA=" />
    <add key="/lpc/nct6798d/fan/0/values" value="H4sIAAAAAAAEAJMQdjF5H33Hg4HhwH8APLT8MgwAAAA=" />
    <add key="/lpc/nct6798d/temperature/6/values" value="H4sIAAAAAAAEAAt742zyPvqOBwPDgf8AAVhJEwwAAAA=" />
    <add key="/lpc/nct6798d/temperature/5/values" value="H4sIAAAAAAAEAAt742zyPvqOBwPDgf8AAVhJEwwAAAA=" />
    <add key="/lpc/nct6798d/temperature/4/values" value="H4sIAAAAAAAEAAt742zyPvqOBwPDgf8AAVhJEwwAAAA=" />
    <add key="/lpc/nct6798d/temperature/3/values" value="H4sIAAAAAAAEADt0RH+xQeotDwaGG44T2y7KZV1mAIID//9v2GKuagxhyzF9jA95CmE/ezvn1i0uCBsAB9LIUTwAAAA=" />
    <add key="/lpc/nct6798d/temperature/2/values" value="H4sIAAAAAAAEAAt742zyPvqOBwPDgf8AAVhJEwwAAAA=" />
    <add key="/lpc/nct6798d/temperature/1/values" value="H4sIAAAAAAAEAAt742zyPvqOBwPDgf8AAVhJEwwAAAA=" />
    <add key="/lpc/nct6798d/temperature/0/values" value="" />
    <add key="/lpc/nct6798d/voltage/14/values" value="H4sIAAAAAAAEAJt91NnkffQdDwaGA/8BrTCTIAwAAAA=" />
    <add key="/lpc/nct6798d/voltage/13/values" value="H4sIAAAAAAAEAJt91NnkffQdDwaGA/8BrTCTIAwAAAA=" />
    <add key="/lpc/nct6798d/voltage/12/values" value="H4sIAAAAAAAEAJt91NnkffQdDwaGA/8BrTCTIAwAAAA=" />
    <add key="/lpc/nct6798d/voltage/11/values" value="H4sIAAAAAAAEAJt91NnkffQdDwaGA/8BrTCTIAwAAAA=" />
    <add key="/lpc/nct6798d/voltage/10/values" value="H4sIAAAAAAAEAJt91NnkffQdDwaGA/8BrTCTIAwAAAA=" />
    <add key="/lpc/nct6798d/voltage/9/values" value="H4sIAAAAAAAEAJt91NnkffQdDwaGA/8BrTCTIAwAAAA=" />
    <add key="/lpc/nct6798d/voltage/8/values" value="H4sIAAAAAAAEAJt91NnkffQdDwaGA/8BrTCTIAwAAAA=" />
    <add key="/lpc/nct6798d/voltage/7/values" value="H4sIAAAAAAAEAJt91NnkffQdDwaGA/8BrTCTIAwAAAA=" />
    <add key="/lpc/nct6798d/voltage/6/values" value="H4sIAAAAAAAEADt0RH+xQeotD5XblfZz4i/KZV1mAIID/9k3bjFXNYawfZk+xoc8hbBbb825dYsLwgYAoxRbnzwAAAA=" />
    <add key="/lpc/nct6798d/voltage/5/values" value="H4sIAAAAAAAEADPf5GzyPvqOBwPDgf8ARI52igwAAAA=" />
    <add key="/lpc/nct6798d/voltage/4/values" value="H4sIAAAAAAAEADPf5GzyPvqOBwPDgf8ARI52igwAAAA=" />
    <add key="/lpc/nct6798d/voltage/3/values" value="H4sIAAAAAAAEALs+z9nkffQdDwaGA/8BvJBlTgwAAAA=" />
    <add key="/lpc/nct6798d/voltage/2/values" value="H4sIAAAAAAAEALs+z9nkffQdDwaGA/8BvJBlTgwAAAA=" />
    <add key="/lpc/nct6798d/voltage/1/values" value="H4sIAAAAAAAEACvvdjZ5H33Hg4HhwH8ALUwy6QwAAAA=" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEADs9v9vkffQdDwaGA/8BVKGR7QwAAAA=" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEADO3qzB5H33Hg4HhwP87LFZMDEDwqv+1PQADYyYvGAAAAA==" />
    <add key="/lpc/nct6798d/control/6/values" value="H4sIAAAAAAAEAFNrdDV5H33Hg4HhwH8AjXJdoQwAAAA=" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAJvXU2jyPvqOBwPDgf+aEnpMDEDgePC8PQDlKZ7DGAAAAA==" />
    <add key="/lpc/nct6798d/voltage/0/values" value="H4sIAAAAAAAEAHOvcDZ5H33Hg4HhwH8ARHs67QwAAAA=" />
  </appSettings>
</configuration>